html
    head
        title Mi primera p치gina con Express

    body
        // El '-' premite el ingreso de c칩digo JS. '=' permite usar la variable en la vista, no procesa HTML (con '!=' si se procesa el HTML).
        -var arreglo = [1,2,3,4,5];
        -for(var i = arreglo.length - 1; i >= 0; i--)
            p= "'=' <i>" + arreglo[i] + "</i>"
            p!= "'!=' <i>" + arreglo[i] + "</i>"
            // '#{}' interpola texto con JS, adentro de las llaves se ejecuta c칩digo JS
            p '\#{}' Hola #{arreglo[i] +1}
            //interpolaci칩n de etiquetas. El '.' te permite tabular sin que lo interprete 'Hola' como otra etiqueta
            p.
                Hola haz click en #[a(href='http://google.com',target='_blank') este link] por favor
            hr